# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore the out directory
out

# Ignore the save games but keep the main database
src/main/resources/SaveGames


# Ignore the log files
logs

# Ignore all log files
*.log
