# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore the save games but keep the main database
src/main/resources/SaveGames

# Ignore all save game files and data
src/main/resources/SaveGames/*

# Ignore log files
logs
