<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
    <Appenders>
        <RandomAccessFile name="MasterLogToFile" fileName="logs/master.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </RandomAccessFile>
        <RandomAccessFile name="DatabaseExceptionLogToFile" filename="logs/databaseExceptions.log"> 
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </RandomAccessFile>
        <Routing name="RoutingAppender">
            <Routes>
                <pattern>$${marker:}</pattern>
                <Route key="EXCEPTION" ref="DatabaseExceptionLogToFile"/>
                <Route key="DEFAULT" ref="MasterLogToFile"/>
            </Routes>
        </Routing>
    </Appenders>
    <Loggers>      
        <Logger name="com.josh" level="debug" additivity="false">
            <AppenderRef ref="RoutingAppender"/>
        </Logger>
        <Root level="error">
            <AppenderRef ref="MasterLogToFile"/>
        </Root>
    </Loggers>
    <!-- <Properties>
        <Property name="contextPath">DEFAULT</Property>
    </Properties> -->
</Configuration>