<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
	<Appenders>
		<RandomAccessFile name="MasterLog" fileName="logs/master.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </RandomAccessFile>
        <RandomAccessFile name="ClassLog" fileName="logs/${sys:classLog}.log">
        	<PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </RandomAccessFile>
        <RandomAccessFile name="ExceptionLog" fileName="logs/exceptions.log">
        	<PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </RandomAccessFile>
        <Routing name="SpecialLog">
        	<Routes>
        		<pattern>$${marker:}</pattern>
        		<Route key="EXCEPTION" ref="ExceptionLog"/>
        	</Routes>
        </Routing>
	</Appenders> 
	<Loggers>
		<Logger name="masterLog" level="debug" additivity="false">
			<AppenderRef ref="MasterLog"/>
		</Logger>
		<Logger name="classLog" level="debug" additivity="false">
			<AppenderRef ref="ClassLog"/>
		</Logger>
		<Logger name="specialLog" level="debug" additivity="false">
			<AppenderRef ref="SpecialLog"/>
		</Logger>
		<!--
		<Logger name="FootballLeague.App" level="debug" additivity="false">
			<AppenderRef ref=""/>
		</Logger>
		<Logger name="FootballLeague.FootballLeagueBackend.Club" level="debug" additivity="false">
			<AppenderRef ref=""/>
		</Logger>
		<Logger name="FootballLeague.FootballLeagueBackend.DatabaseConnection" level="debug" additivity="false">
			<AppenderRef ref=""/>
		</Logger>
		<Logger name="FootballLeague.FootballLeagueBackend.Match" level="debug" additivity="false">
			<AppenderRef ref=""/>
		</Logger>
		<Logger name="FootballLeague.FootballLeagueBackend.Player" level="debug" additivity="false">
			<AppenderRef ref=""/>
		</Logger>
		<Logger name="FootballLeague.FootballLeagueBackend.Schedule" level="debug" additivity="false">
			<AppenderRef ref=""/>
		</Logger>
		<Logger name="FootballLeague.FootballLeagueBackend.StartingXI" level="debug" additivity="false">
			<AppenderRef ref=""/>
		</Logger>
		<Logger name="FootballLeague.FootballLeagueBackend.Tactic" level="debug" additivity="false">
			<AppenderRef ref=""/>
		</Logger>
		<Logger name="FootballLeague.FootballLeagueBackend.Team" level="debug" additivity="false">
			<AppenderRef ref=""/>
		</Logger>
		<Logger name="FootballLeague.FootballLeagueBackend.Venue" level="debug" additivity="false">
			<AppenderRef ref=""/>
		</Logger>
		<Logger name="FootballLeague.FootballLeagueFrontend.GameMenu" level="debug" additivity="false">
			<AppenderRef ref=""/>
		</Logger>
		<Logger name="FootballLeague.FootballLeagueFrontend.Content.LeagueResultsContent" level="debug" additivity="false">
			<AppenderRef ref=""/>
		</Logger>
		<Logger name="FootballLeague.FootballLeagueFrontend.Content.ScoutingContent" level="debug" additivity="false">
			<AppenderRef ref=""/>
		</Logger>
		<Logger name="FootballLeague.LogHandler.LogHandler" level="debug" additivity="false">
			<AppenderRef ref=""/>
		</Logger>
		-->
		<Root level="error">
			<AppenderRef ref="Master"/>
		</Root>
	</Loggers>
</Configuration>