<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<RandomAccessFile name="MasterLog" fileName="logs/master.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </RandomAccessFile>
        <RandomAccessFile name="ClassLog" fileName="logs/${sys:classLog}.log">
        	<PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </RandomAccessFile>
        <RandomAccessFile name="ExceptionLog" fileName="logs/exceptions.log">
        	<PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </RandomAccessFile>
        <Routing name="SpecialLog">
        	<Routes>
        		<pattern>$${marker:}</pattern>
        		<Route key="EXCEPTION" ref="ExceptionLog"/>
        	</Routes>
        </Routing>
	</Appenders> 
	<Loggers>
		<Logger name="masterLog" level="debug" additivity="false">
			<AppenderRef ref="MasterLog"/>
		</Logger>
		<Logger name="classLog" level="debug" additivity="false">
			<AppenderRef ref="ClassLog"/>
		</Logger>
		<Logger name="specialLog" level="debug" additivity="false">
			<AppenderRef ref="SpecialLog"/>
		</Logger>
		<Root level="error">
			<AppenderRef ref="MasterLog"/>
		</Root>
	</Loggers>
</Configuration>