.root{
    -fx-background-color: #CC0099;
}

.label{
    -fx-text-fill: #66FF66;
    -fx-font-size: 10pt;
}

.button{
    -fx-background-color: #3366CC;
    -fx-text-fill: #000000;
    -fx-pref-width: 100px;
}

.button:hover{
    -fx-background-color: white;
    -fx-text-fill: #FFFF33;
}
